<!DOCTYPE html>
<html>
  <head>
    <title>Form</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <nav>
        <div>
            <h1>Pet Tales Vet Clinic</h1>
        </div>
        <div>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
        </div>
    </nav>
    <h1>Client Information Form</h1>
    <form action="" method="POST">
      <label for="name">Name:</label><br>
      <input type="text" id="name" name="name"><br>
      <br>
      <label for="email">Email:</label><br>
      <input type="email" id="email" name="email"><br>
      <br>
      <label for="pet-name">Pet Name:</label><br>
      <input type="text" id="pet-name" name="petName"><br>
      <br>
      <input type="submit" value="Submit">
    </form> 
  </body>
</html>